<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wps_cool_csv.Properties.SettingsCsv" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wps_cool_csv.Properties.SettingsCsv>
            <setting name="EnableSaveEncode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFreezeHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSelectHighlight" serializeAs="String">
                <value>False</value>
            </setting>
        </wps_cool_csv.Properties.SettingsCsv>
    </userSettings>
</configuration>